@import "digital";
.nav{
  li:nth-of-type(3) {
    background-color: #f9f9f9;
    a{
      color: #666666;
      &:hover{
        color: #ff4040;
      }
    }
  }
  li:nth-of-type(4){
    background-color: #ff4040;
    a{
      color: white;
    }
  }
}